<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ConnectionString" value="server=192.168.2.31;user id=develop;password=ymsadmin;Allow Zero Datetime=True;persistsecurityinfo=True; Charset=utf8;database=frzz;" />
  </appSettings>
</configuration>